.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: $color-grey-light-1;
  width: 99%;
  height: 99%;
  border-radius: 5px;

  @media only screen and (max-width: $bp-small) {
    background-color: $color-grey-light-2;
  }

  ///////////
  // DETAILS

  &__info {
    font-size: 1.9rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 9rem;
      font-size: 2.5rem;
    }
  }

  &__info-icon {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
    margin-right: 1.15rem;

    @media only screen and (max-width: $bp-small) {
      height: 5rem;
      width: 5rem;
    }
  }

  &__info-data {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 2.3rem;
    font-weight: 700;

    @media only screen and (max-width: $bp-small) {
      margin-right: 1rem;
      margin-left: 1rem;
      font-size: 3rem;
    }
  }

  &__info-buttons {
    @media only screen and (max-width: $bp-small) {
      position: absolute;
      bottom: 2rem;
    }
  }
}
